<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css">

    <style>
    .checked {
		color: orange;
	}
  	.navbar{
        margin-bottom: 50px;
        color:orange;
	}
	#rating{
		font-size: 16pt;
	}
	#results{
		display:inline-block;
		margin-bottom:10px;
		border:1px solid black;
		padding-bottom: 10px;
	}
	.img-results{
		width: 400px;
		height: 300px;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
	}
	#botmarg{
		margin-bottom: 20px;
	}

	.logo{
            height:60px;
            width:80px;
            margin-right:10px;
	}
	.tabs{
		font-size:16pt;
	}
	#price{
		font-size:16pt;
		margin-right:30px;
	}
    .title {
		text-shadow: 1px 1px #FFFFFF;
	}
	#rooms{
		font-size:16pt;
		margin-left:30px;
	}
	#baths{
		font-size:16pt;
		margin-left:30px;
	}
	#review_text{
		font-size:16pt;
		margin-left:30px;
	}
    #review_list{
        font-size:10pt;
    }

    </style>

    <title>{{post.name}}</title>

</head>

<body>

        <nav class="navbar navbar-expand-md bg-primary navbar-dark">
                <img class="logo" src="https://i0.wp.com/rockbridgereport.academic.wlu.edu/files/2011/11/UVA.gif">
                <h1 class="title">Off Grounds Housing</h1>
            
                <div class="collapse navbar-collapse justify-content-end tabs" id="collapsibleNavbar">   
                    <ul class="navbar-nav">
                          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Roommates</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/housingsearch/">Housing</a></li>        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.first_name }}</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <a class="dropdown-item" href="/logout/">Logout</a>
                            </div>
                        </li>                            
                    </ul>
                </div> 
            
            </nav>

    <div class="container centered">
        
        <h1>{{ post.name }}</h1>
        {% if post.available%}
            <h2 style="color:green;">Available!</h2>
        {% else %}
            <h2 style="color:red;">Not Available</h2>
        {% endif %}
        <p>{{post.address}}</p>
        <p>{{post.info}}</p>
        <span id="price">${{post.price}}</span><span id="rating">Rating:</span>
        <span class="fa fa-star {% if post.rating >= 1 %}checked{% endif %}"></span>
        <span class="fa fa-star {% if post.rating >= 2 %}checked{% endif %}"></span>
        <span class="fa fa-star {% if post.rating >= 3 %}checked{% endif %}"></span>
        <span class="fa fa-star {% if post.rating >= 4 %}checked{% endif %}"></span>
        <span class="fa fa-star {% if post.rating >= 5 %}checked{% endif %}"></span>
        <div><img src={{post.image_url}} class="img-results"></div>
        <div><span class="fa fa-bed"></span><span id="rooms">{{post.rooms}}</span></div>
        <div><span class="fa fa-bath"></span><span id="baths">{{post.baths}}</span></div>
        <h3>Reviews:</h3>
        <input type="button" onClick="showReview()" name="review" id="review" value="Write a Review!" />
        <form method="Post">
            {% csrf_token %}
            <input name="username" id="username" type="hidden" value="{{user.username}}">
            <div name="rating" id="rate" style="display:none">Rating: {{form.rating}}</div>
            <div name="reviewtext" id="reviewtext" style="display:none">{{form.review_text}}</div>
            <input type="submit" id="submitReview" style="display:none">
        </form>
        <ul>
        {% for review in post.review_set.all %}
            <span id="review_list">
            <li>
                <span class="fa fa-star {% if review.rating >= 1 %}checked{% endif %} fa-sm"></span>
                <span class="fa fa-star {% if review.rating >= 2 %}checked{% endif %} fa-sm"></span>
                <span class="fa fa-star {% if review.rating >= 3 %}checked{% endif %} fa-sm"></span>
                <span class="fa fa-star {% if review.rating >= 4 %}checked{% endif %} fa-sm"></span>
                <span class="fa fa-star {% if review.rating >= 5 %}checked{% endif %} fa-sm"></span>
                <div><span id="review_text">{{review.review_text}}</span></div>
            </li>
            </span>
        {% endfor %}
        </ul>
    </div>

    <script>
        function showReview(){
            document.getElementById("review").style.display = "none";
            document.getElementById("rate").style.display = "block";
            document.getElementById("reviewtext").style.display = "block";
            document.getElementById("submitReview").style.display = "block";
        }
    </script>

               
</body>
</html>