<html>
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  {% load static %}
  <link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css">

  <style>
    .form-group{
        width: 300px;
    }

    #login-box{
        margin: 0 auto;
        padding: 10px;
    }
    .navbar{
        margin-bottom: 50px;
        color:orange;
    }
    #filter-button{
      width:200px;
    }
    .logo{
            height:60px;
            width:80px;
            margin-right:10px;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <img class="logo" src="https://i0.wp.com/rockbridgereport.academic.wlu.edu/files/2011/11/UVA.gif">
    <h1>Off Grounds Housing</h1>   
  </nav>

  <div class="container" style="width: 550px";>
    <h1>Search Offgrounds Housing</h1>
  </div>
  <form method="Post" style="width: 600px">
    {% csrf_token %}
            
      <div class="mx-auto" id="login-box">
        {{ form.as_p }}
      </div>

      <div class="btn-group">
        <button type="button" id="filter-button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
          Filter On: <span id="selected">(Select)</span><span class="caret"></span>
        </button>

        <button class="btn btn-success btn-block" type="submit" style="width: 900px">Find Housing!</button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Availability</a>
          <a class="dropdown-item" href="#">Pricing</a>
          <a class="dropdown-item" href="#">Distance</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Suggested</a>
        </div>

        <script>
          $('.dropdown-menu a').click(function(){$('#selected').text($(this).text());});
        </script>
 
      </div>
    </form>
</body>
</html>